@use "../../global" as *;
@use "../../mixins" as *;

.tasks-in-progress {
	&__display-tasks-btn {
		transition: 0.3s;
	}
	.open {
		transform: rotate(180deg);
	}
	&__main-container {
		transition: 0.3s ease;
	}
	&__main-container .open {
		transform: translateY(100%);
		&:hover {
			transform: translateY(-100%);
		}
	}
	&__th-table {
		font-size: 1.2rem;
		opacity: 0.75;
	}
	&__priority {
		border-radius: 50px;
	}
	@include min-width(768px) {
		&__priority {
			max-width: 200px !important;
		}
	}
	&__deadline-btn {
		padding: 0.1rem 1.5rem;
		background-color: $light-grey;
		border: 1px solid $grey;
		border-radius: 25px;
		transition: 0.2s;
		&:hover {
			background-color: $dark-grey;
			color: $white;
		}
	}
}
