*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$dark-blue: linear-gradient(90deg, #000546, #002f61);
$blue: linear-gradient(90deg, #0b66dd, #091970);
$light-blue: linear-gradient(240deg, #0061ff, #05bdd1);
$just-blue: #0062ff5e;
$extra-light-blue: linear-gradient(100deg, #aac8fa, #0036c93a, #e5efff);
$pink: linear-gradient(90deg, #c471f2, #f76cc6);
$purple: linear-gradient(90deg, #0e0725, #5c03bc, #c72591, #5a0042);
$light-white: linear-gradient(90deg, #e0e0e4, #e4e2e2);
$white: #ebedf7;
$light-grey: #6969692c;
$grey: #888888;
$dark-grey: #4e4e4e;
$low: #15803d;
$medium: #a16207;
$high: #b91c1c;

body {
	background: $light-white;
}

.custom-btn {
	background: $blue;
	transition: 0.2s;
	&:hover {
		background: $light-blue;
	}
}

.sort-btn,
.display-btn {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 10;
}
.sort-icon,
.display-icon {
	font-size: 16px;
	color: #a5a5a5;
	transition: 0.2s ease;
	pointer-events: none;
	cursor: pointer;
}
.sort-btn:hover .sort-icon {
	color: black;
	transform: translateY(-1px);
}
.display-btn:hover .display-icon {
	color: black;
	transform: translateY(1px);
}

.action-btn {
	padding: 0.1rem;
	background-color: $light-grey;
	color: $dark-grey;
	transition: 0.2s ease;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.success-action-btn {
	background: #cffec3;
	color: rgb(112, 187, 0);
	border: 1px solid #68e600;
	&:hover {
		background: rgb(112, 187, 0);
		color: #cffec3;
	}
}

.edit-action-btn {
	background: #dce7fc;
	color: blue;
	border: 1px solid #3459ff;
	&:hover {
		background: blue;
		color: #dce7fc;
	}
}

.delete-action-btn {
	background: #ffdcd8;
	color: rgb(255, 24, 24);
	border: 1px solid #ff2727;
	&:hover {
		background: rgb(255, 24, 24);
		color: #ffdcd8;
	}
}

.header-custom-table-names,
.custom-table-row {
	padding: 0.5rem;
}

.header-custom-table-names {
	color: $grey;
}
