@use "../../global" as *;
@use "../../mixins" as *;

.sidebar {
	position: absolute;
	left: 0;
	width: 220px;
	background: $dark-blue;
	hr {
		color: white;
	}
	a,
	p {
		color: $white;
		transition: 0.2s;
		cursor: pointer;
		&:hover {
			color: $white;
			opacity: 0.5;
		}
	}
}
