@use "../../global" as *;
@use "../../mixins" as *;
.display-started-habit {
	&__main-container {
		border-radius: 5px;
		&:hover {
			background-color: $light-grey;
		}
	}
	&__name,
	&__streak_days,
	&__amount_days_done {
		font-weight: bold;
	}
	@include max-width(768px) {
		&__id {
			order: 1;
		}
		&__name {
			order: 2;
		}
		&__streak_days {
			padding-right: 10px ;
			order: 3;
		}
		&__amount_days_done {
			order: 4;
		}
		&__description {
			order: 5;
		}
		&__created_at {
			order: 6;
		}
		&__actions-btn {
			order: 7;
		}
		&__buttons-container {
			order: 8;
		}
	}
}
